body{
    margin: 3px 25%;
    padding: 5% 10% ;
    background-color: rgba(0, 200, 250, 0.2);
}

h1{
    text-align: center;
    margin: 0% 0%;
}
 h2{
     text-align: center;
     margin-top: 0%;
 }
 #image{
     display: block;
 }

 #img-div{
     margin: 5% 25%; 
    padding: 5px 10px;}

#img-caption{
text-align: center;
color: grey;

}
div#info{
    background-color: rgba(0,2,20,0.3);
margin: 0% 10px;
padding: 5px 6%;
border: 20px solid rgb(148, 186, 201);
}

h3{
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}